body{
    background-color: black;
    margin-top: 10px;
}
img{
    height: 218px;
    width: 245px;
    border: 2px solid rgb(20, 3, 95);
}
.temple{
    
    margin: 0px 20px 0 0;
    float: left;
}